<div class="container">
    <h1 class="text-center">Quiz: {{ quiz.title }}</h1>
    <hr>
    <p class='text-center'>Number of questions: {{ quiz.questions.length }}</p>
    <button ng-click="startQuiz()" class="align-center btn btn-primary btn-lg offset-md-4 col-md-4" type="submit">Start Quiz</button>
    <br>
    <!-- <p class="text-center">Quiz has not yet been setup. No questions available.</p> -->
</div>
