<div class="container">
    <h1 class="text-center">Quiz</h1>
    <div class="text-center" ng-hide="edit">
        <p>
            <h2>Title: {{ quiz.title }}</h2>
            <a href="#" ng-click="edit=true"><small>Click here to edit</small></a>
            <br>
            <a href="#"><small class="text-danger" ng-click="deleteQuiz(quiz)">Click here to delete</small></a>
        </p>
    </div>
    <div class="text-center" ng-show="edit">
        <form class="col-md-4 offset-md-4" ng-submit="saveQuizEdit()">
            <div class="form-group">
                <input class="form-control" type="text" ng-model="quiz.title">
            </div>
            <button class="btn btn-sm btn-primary" ng-click="edit=false">Save</button>
        </form>
    </div>
    <hr>
    <div class="text-center">
        <div ng-repeat="question in quiz.questions" class="text-center col-md-8 offset-md-2">
            <quiz-application-question></quiz-application-question>
            <hr>
        </div>
    </div>
    <div class="col-md-4 offset-md-4 text-center">
        <button class="btn btn-outline-primary" ng-click="addQuestion()">Add a question</button>
    </div>
    <br>
</div>
