<title>Quiz Application | Home</title>

<div class="container">
    <h1 class="text-center">My Created Quizzes</h1>

    <div class="col-md-4 offset-md-4 text-center">
        <a ui-sref="quizCreate" class="btn btn-outline-primary">Create a quiz here</a>
    </div>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Quiz Name</th>
                <th scope="col">Created by</th>
                <th scope="col">Date Created</th>
                <th scope="col">Expiration Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="quiz in quizzes | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage | orderBy:'-date_created'">
                <td><a ui-sref="quizDetail({id:quiz.id})">{{ quiz.title }}</a></td>
                <td>{{ quiz.created_by.username }}</td>
                <td>{{ quiz.date_created | date }}</td>
                <td>{{ quiz.expiration_date | date }}</td>
            </tr>
        </tbody>
    </table>
    <h4 class="text-center" ng-if="quizzes.length < 1">No quizzes Created</h4>

    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item" ng-hide="pagination.page == 0"  ng-click="pagination.prevPage()">
          <a class="page-link" href="#" aria-label="Previous" >
            <span>&laquo;</span>
            <span>Previous</span>
          </a>
        </li>
        <li class="page-item" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">
          <a class="page-link" href="#">
            <span>Next</span>
            <span>&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

</div>
