<h1 class="text-center">Create a Quiz</h1>
<hr>

<div class="col-md-4 offset-md-4 text-center">
    <form ng-submit="create()">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" ng-model="quizTitle" name="title" required>
            <button type="submit" class="btn btn-block btn-primary">Create Quiz</button>
        </div>
    </form>
</div>
