<div class="container">
    <div class="col-md-6 offset-md-3 text-center">
        <h1 class="text-center">Quiz: {{ quiz.title }}</h1>
        <a href="#" ng-click="endQuiz()" class="btn btn-outline-success text-uppercase">End Quiz</a>
        <hr>
        <div ng-repeat="question in questions | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
            <p class='text-center'>

                <a href="#" ng-hide="pagination.page == 0" ng-click="pagination.prevPage()"><span class="fas fa-angle-left"></span> Prev |</a>
                <strong>Question</strong>
                <a href="#" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">| Next <span class="fas fa-angle-right"></span></a>
                <br>
                <small>{{ pagination.page + 1 }} of {{ pagination.numPages }}</small>
            </p>
            <p>{{ question.text }}</p>
            <form ng-submit="submitAnswer(question, answer)">
                <table class="table">
                    <td ng-repeat="choice in question.choices">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="answer" ng-model="answer.answer" id="choice{{ choice.id }}" ng-value="choice.id" required>
                            <label class="form-check-label" for="choice{{ choice.id }}">{{ choice.text }}</label>
                        </div>
                    </td>
                </table>
                <button type="submit" class="btn btn-sm btn-primary text-center">Submit answer</button>
            </form>
        </div>
    </div>
</div>
