<div class="question">
    <div class="text-center" ng-hide="modify">
        <p>
            <h4>
                <span class="text-danger fas fa-times-circle" ng-click="deleteQuestion(question)" title="Remove question"></span>
                Question: {{ question.text }}
            </h4>
            <a href="#" ng-click="modify=true"><small>Click here to edit</small></a>
        </p>
    </div>
    <div class="text-center" ng-show="modify">
        <form ng-submit="saveQuestionEdit(question)">
            <div class="form-group">
                <input class="form-control" type="text" ng-model="question.text">
            </div>
            <button class="btn btn-sm btn-primary" ng-click="modify=false">Save</button>
        </form>
    </div>


    <button ng-hide="addChoiceInput" class="btn btn-sm btn-info" ng-click="addChoiceInput=true; choiceText=''">Add Choice</button>
    <div ng-show="addChoiceInput">
        <form ng-submit="addChoice(question, choiceText)">
            <div class="form-group">
                <input class="form-control" type="text" ng-model="choiceText" placeholder="Enter choice">
            </div>
            <button class="btn btn-sm btn-info" ng-click="addChoiceInput=false">Create Choice</button>
        </form>
    </div>
    <table class="table table-bordered text-center" style="margin-top:10px;">
        <td ng-repeat="choice in question.choices" ng-class="{'table-success': choice.correct}">
            <div ng-hide="editChoiceInput">
                <p>{{ choice.text }}</p>
                <small class="text-danger fas fa-times-circle" ng-click="deleteChoice(question, choice)"></small>
                <small class="text-info fas fa-edit" ng-click="editChoiceInput=true"></small>
            </div>
            <form ng-show="editChoiceInput" ng-submit="updateChoice(choice)">
                <div class="form-group">
                    <input class="form-control" type="text" ng-model="choice.text" placeholder="Enter choice">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" ng-model="choice.correct">
                        <label class="form-check-label">Is correct? </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-sm btn-info" ng-click="editChoiceInput=false">Update Choice</button>
            </form>
        </td>
    </table>
</div>
