<div class="container">
    <h1 class="text-center">Login</h1>
    <p class="text-center">
        <small>Not yet registered? <a href="#">Register here</a></small>
    </p>

    <form class="col-md-4 offset-md-4">
        <div class="form-group">
            <label for="username">Username:</label>
            <input ng-model="username" type="username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input ng-mosdel="password" type="password" class="form-control" placeholder="Password">
        </div>
        <button ng-click="login()" class="btn btn-block btn-primary">Login</button>
        <button ng-click="verify()" class="btn btn-block btn-secondary">Verify</button>
    </form>

    <div class="col-md-4 offset-md-4 text-center">
        <hr>
        <p>Login via Social</p>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-outline-primary">
            <span class="fab fa-google"></span>
        </a>
        <a href="{% url 'social:begin' 'github' %}" class="btn btn-outline-primary">
            <span class="fab fa-github"></span>
        </a>
        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-outline-primary">
            <span class="fab fa-facebook"></span>
        </a>
        <br>
    </div>
</div>
