<title>Quiz Application | Home</title>

<div class="container">
    <h1 class="text-center">Quiz Results</h1>
    <h3 class="text-center">{{ attempt.quiz.title }}</h3>
    <h4 class="text-center text-info">Quiz taker: {{ attempt.quiz.created_by.username }}</h4>
    <hr>

    <div class="row" ng-repeat="question in attempt.quiz.questions">
        <div class="col-md-6 offset-md-3 text-center">
            <h4 class="text-center" ng-class="isQuestionCorrect(attempt, question) && 'text-success' || 'text-danger'">
                {{ question.text }}
                <span ng-class="isQuestionCorrect(attempt, question) && 'fas fa-check-square' || 'fas fa-times-circle'"></span>
            </h4>
            <table class="table">
                <td ng-repeat="choice in question.choices" ng-class="{'table-success': choice.correct}">{{ choice.text }}</td>
            </table>
        </div>
    </div>
</div>
