<div class="container">
    <h1 class="text-center">Recent Quizzes Taken</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Quiz Name</th>
                <th scope="col">Date Taken</th>
                <th score="col">Score</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="attempt in attempts | orderBy: '-date_taken'">
                <td><a ui-sref="resultsDetail({id: attempt.id})">{{ attempt.quiz.title }}</a></td>
                <td>{{ attempt.date_taken | date}}</td>
                <td>{{ attempt.score }} out of {{ attempt.quiz.questions.length }}</td>
            </tr>
        </tbody>
    </table>
</div>
