<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/" ui-sref="quizList">Dynaquiz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" ui-sref="quizList">Available Quizzes</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="results">My Results</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="myQuizList">My Quizzes</a>
                </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown">
                        {{ user|capfirst }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'accounts:logout' %}" target="_self">Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <form class="form-inline">
                <a class="btn btn-outline-light my-2 my-sm-0" target="_self" href="{% url 'accounts:login' %}">Login</a>
            </form>
            {% endif %}
        </div>
    </div>
</nav>
