<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only" ng-hide="pagination.page == 0" ng-click="pagination.prevPage()">Previous</span>
      </a>
    </li>
    <li>
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">Next</span>
      </a>
    </li>
  </ul>
</nav>
