<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" ui-sref="quizList">Dynaquiz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="quizList">Available Quizzes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">My Results</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">My Quizzes</a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <a class="btn btn-outline-light my-2 my-sm-0" ng-if="!$root.isAuthenticated" ui-sref="login">Log In</a>
                <a class="btn btn-outline-light my-2 my-sm-0" ng-if="$root.isAuthenticated" ui-sref="logout">Log Out</a>
            </ul>

        </div>
    </div>
</nav>
