{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1 class="text-center">Login</h1>
    <p class="text-center">
        {% if error_message %}
        <small class="text-danger">{{ error_message }}</small>
        {% endif %}
    </p>
    <p class="text-center">
        {% if messages %}
            {% for message in messages %}
            <small{% if message.tags %} class="text-{{ message.tags }}"{% endif %}>{{ message }}</small>
            {% endfor %}
        {% endif %}
    </p>
    <p class="text-center">
        <small>Not yet registered? <a href="{% url 'accounts:register' %}">Register here</a></small>
    </p>

    <form class="col-md-4 offset-md-4" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <small class="text-danger">{{ field.errors }}</small>
                <label>{{ field.label_tag}}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-block btn-primary">Login</button>
    </form>
</div>
{% endblock %}
