{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1 class="text-center">Register</h1>
    <form class="col-md-4 offset-md-4" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <small class="text-danger">{{ field.errors }}</small>
                <label>{{ field.label_tag}}</label>
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-block btn-primary" value="Register">
    </form>
</div>
{% endblock %}
