{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Django Quiz | Single-Page Application</title>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <base href="/">
</head>

<body ng-app="quizApplication">
    {% include 'navigation.html' %}

    <div ui-view></div>

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"     integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="/static/bower_components/angular/angular.min.js"></script>
    <script src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/static/bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
    <script src="/static/bower_components/auth0-angular/build/auth0-angular.min.js"></script>
    <script src="/static/bower_components/ng-simplePagination/simplePagination.js"></script>
    <script src="/static/node_modules/angular-storage/dist/angular-storage.min.js"></script>
    <script src="{% static 'extras.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'angular/directives/question.directive.js' %}"></script>
</body>

</html>
